---
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import BookCard from "@/components/BookCard.astro";
import { BOOKS } from "@/books.config";
---

<Layout title="Books | My Blog" description="我的书籍收藏">
  <Header />
  <Main pageTitle="Books" pageDesc="All the articles I've posted.">
    <div class="grid gap-6 sm:grid-cols-2">
      {BOOKS.map(book => <BookCard {book} />)}
    </div>
  </Main>
  <Footer />
</Layout>
