---
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import BookCard from "@/components/BookCard.astro";
import { getAllBooks } from "@/utils/books";
import { SITE } from "@/config";

const books = await getAllBooks();
---

<Layout title={`Books | ${SITE.title}`}>
  <Header />
  <Main pageTitle="Books" pageDesc="All the books I've written.">
    <div class="grid gap-6 sm:grid-cols-2">
      {
        books.map(book => (
          <BookCard
            slug={book.slug}
            title={book.title}
            description={book.description}
          />
        ))
      }
    </div>
  </Main>
  <Footer />
</Layout>
